@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
    --backgroundColor: #221f2f; /* Ваш власний колір #221f2f */
    --color:        #737373;
    --textColor:        #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--backgroundColor);
    min-height: 100vh;
    user-select: none;
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 65vh;
    padding: 5vh;
    background: rgba(0, 0, 0, .44);
    color: var(--textColor);
    border: .25rem solid rgba(0, 0, 0, .1);
    border-bottom-left-radius: 10vh;
    border-top-right-radius: 20vh;
    box-shadow: -.5rem -.5rem 1rem rgba(255, 255, 255, .1),       
                 .5rem  .5rem 1rem rgba(0, 0, 0, .35),
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
    /* backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px); */
}
h1{
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: .25rem;
}
/* p{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .25rem;
    color: var(--textColor);
    text-align: justify;
} */
.container .gen-form {
    display: flex;
    opacity: 1;
    gap: 10px;
    width: 100%;
    margin: 2vh 0vh;
}
.container .gen-form .input-wrapper{
    position: relative;
    width: 70%;
    padding: 0 3vw;
    transition: .5s linear;
}
.container .gen-form input {
    width: 100%;
    height: 3.75rem;
    text-align: center;
    font-size: 1.75rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 0;
    animation: slideTop 1.8s ease forwards;
    /* transition: .5s all ease; */
}
@keyframes slideTop {
    0%{
        transform: translatey(10vh);
        opacity: 0;
        color: rgb(255, 255, 255, 0.5);
    }
    100%{
        transform: translatey(0);
        opacity: 1;
    }
} 

.container .gen-form .input-wrapper .icon.close {
    position: absolute;
    top: -12%;
    right: -2%;
    height: 3.75rem;
    padding: .175rem;
    transform: scale(0);
    transition: all .5s linear;
}
.container .gen-form .input-wrapper .icon.close:hover{
    padding: 0;
}
.container .gen-form .input-wrapper .icon.close .ionicon {
    height: 100%;
    width: auto;
    stroke: var(--backgroundColor);
    fill: rgba(255, 255, 255, .1);
    filter: 
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .65));
}
.container .gen-form .input-wrapper .line {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35),
          inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
          inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    transform: scaleX(0);
    transition: transform .5s;
}
.container .gen-form button{
    width: 30%;
    height: 3.75rem;
    border-radius: .625rem;
    border: .25rem solid var(--backgroundColor);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    text-align: center;
    letter-spacing: .25rem;
    font-size: 1.75rem;
    color: #737373;
    background-color: transparent;
}
.container .gen-form button:active {
    border: 0rem solid var(--backgroundColor);
    box-shadow:        
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
}

.container .result {
    position: relative;
    width: 20.25vh;
    height: 20.25vh;
}
.container .result .loading {
    display: none;
    font-size: 1.75rem;
    text-align: center;
    line-height: 20.25vh;
}
.container .result .image-grid {
    position: absolute;
    width: 14.25vh;
    height: 14.25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
               perspective(1000px)    
               rotateY(0deg);
    transform-style: preserve-3d;
    transition: 1.5s;
}
.container .result .image-grid span{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(27.5vh);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004)  /*відзеркалення обєкта*/
}
.container .result .image-grid span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: all .3s linear;
    object-fit: cover;
    user-select: none;
}
.container .result .image-grid span img:hover{
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
}

.container .btns {
    display: flex;
    width: 25%;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
}
.container .btns .btn {
    position: relative;
    width: 4rem;
    height: 100%;
    border-radius: 50%;
    transform: rotate(45deg);
}
.container .btns .btn.prev{
    transform: rotate(225deg);
}
.container .btns .btn:active{
    background: var(--textColor);
}
.container .btns .btn::before{
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-top:   .2rem solid var(--textColor);
    border-right: .2rem solid var(--textColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .btns .btn:active:before{
    border-top:   .2rem solid var(--backgroundColor);
    border-right: .2rem solid var(--backgroundColor);
}